.header {
  display: flex;
  align-items: center;
  justify-content: center;
  .header_wrapper {
    background-image: url(../../../public/images/mobile/header-bg-m-1.png);
    width: 100%;
    max-width: 1400px;
    height: 600px;
    background-size: cover;
    position: relative;
    .headrer_wrapper-title {
      width: 400px;
      height: 150px;
      margin-top: 150px;
      margin-right: 15px;
      .headrer_wrapper-title_h2 {
        font-family: estedad;
        font-size: 50px;
        color: var(--yellow-theme-color);
        font-weight: 500;
        line-height: 1.3;
      }
    }
    .headrer_wrapper-title-detail {
      margin-right: 15px;
      margin-top: 30px;
      .headrer_wrapper-title-detail_p {
        font-family: estedad;
        font-size: 20px;
        color: var(--light-p-color);
      }
    }
    .header_wrapper-title-link_reserve_a {
      width: 180px;
      height: 45px;
      display: inline-block;
      margin-right: 15px;
      text-decoration: none;
      border-radius: 10px;
      margin-top: 35px;
      background-color: var(--yellow-theme-color);
      .header_wrapper-title-link_reserve {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        padding: 0px 0px 2px 5px;
        width: 100%;
        height: 100%;
        .header_wrapper-title-link_reserve_p {
          font-family: estedad;
          font-size: 16px;
          color: var(--black-p-color-primary);
        }
      }
    }
    .header_wrapper-title-link_contact-us_a {
      width: 150px;
      height: 45px;
      display: inline-block;
      vertical-align: top;
      margin-right: 10px;
      text-decoration: none;
      border-radius: 10px;
      margin-top: 35px;
      border: 1px solid var(--border-color);
      .header_wrapper-title-link_contact-us {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        padding: 0px 0px 2px 5px;
        width: 100%;
        height: 100%;
        .header_wrapper-title-link_contact-us-p {
          font-family: estedad;
          font-size: 16px;
          color: var(--white-p-color-primary);
        }
      }
    }
    .header_wrapper-bottom {
      position: absolute;
      background-color: var(--white-color);
      width: 100%;
      height: 600px;
      left: 50%;
      bottom: 0;
      border-radius: 20px;
      transform: translateX(-50%) translateY(50%);
      .header_wrapper-bottom-inner-wrapper {
        width: 100%;
        height: 100%;
        .header_wrapper-bottom-inner-wrapper-title {
          border-radius: 20px;
          width: 100%;
          height: 100px;
          font-family: estedad;
          .header_wrapper-bottom-inner-wrapper-title_btns {
            width: fit-content;
            height: fit-content;
            padding: 10px;
            .title_btns-header {
              padding: 10px;
              background-color: var(--blue-theme-color);
              border: 1px solid var(--border-color);
              border-radius: 20px;
              color: var(--white-p-color-primary);
              font-weight: normal;
              font-size: 13px;
              font-family: estedad;
            }
          }
          .header_wrapper-bottom-inner-wrapper-title_a {
            text-decoration: none;
            color: var(--link-color-primary);
            margin-left: 20px;
            font-size: 13px;
            display: none;
          }
        }
        .header_wrapper-boottom_inner-wrapper_detail-and-info_responsive {
          display: flex;
          height: fit-content;
        }
        .header_wrapper-bottom-inner-wrapper-details {
          display: flex;
          flex-direction: column;
          position: relative;
          font-family: estedad;
          font-weight: normal;
          font-size: 12px;
          color: var(--info-detail-p);
          width: 50%;
          height: 100%;
          gap: 70px;
          .header_wrapper-bottom-inner-wrapper-details_right {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 20px;
            margin-top: 10px;
          }
          .header_wrapper-bottom-inner-wrapper-details_left {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 64px;
            .header_wrapper-bottom-inner-wrapper-details_left_itmes {
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
        .header_wrapper-bottom-inner-wrapper-info {
          width: 50%;
          height: 200px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          font-family: estedad;
          font-weight: normal;
          font-size: 12px;
          color: var(--info-detail-p);
          border-radius: 20px;
          z-index: 9999;
          .header_wrapper-bottom-inner-wrapper-info_right {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            gap: 20px;
            .first_part-info-absolute {
              width: 150px;
              height: 50px;
              display: flex;
              justify-content: space-between;
              align-items: center;
            }

            .header_wrapper-bottom-inner-wrapper-info_search_btn-search {
              background-color: var(--yellow-theme-color);
              border: 0;
              cursor: pointer;
            }
          }
          .header_wrapper-bottom-inner-wrapper-info_items {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 150px;
            .btn_info-header {
              background-color: var(--white-color);
              border: 0;
              display: flex;
              width: 100%;
              height: 100%;
              justify-content: space-between;
              align-items: center;
              font-weight: normal;
              font-size: 12px;
              color: var(--info-detail-p);
              font-family: estedad;
              cursor: pointer;
              border: 1px solid var(--border-color);
              border-radius: 20px;
              padding: 10px 20px 10px 20px;
            }
          }
          .header_wrapper-bottom-inner-wrapper-info_search {
            padding: 12px;
            background-color: var(--yellow-theme-color);
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 150px;
            display: none;
          }
          .info-item_divider {
            width: 50px;
            height: 2px;
            background-color: var(--span-color);
          }
        }
        .header_wrapper-bottom-inner-wrapper_serachbar{
          width: 100%;
          height: 50px;
          display:flex ;
          align-items: center;
          justify-content: center;
          margin-top: 40px;
          .header_wrapper-bottom-inner-wrapper-searchbar_btn{
            padding: 12px;
            background-color: var(--yellow-theme-color);
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin: 0px 25px;
            border: 0;

          }
        }
      }
    }
  }
}
